@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  font-family: inherit;
  background-color: #0a0a0a; /* neutral-950 */
}

/* Custom Webkit Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #262626; /* neutral-800 */
  border-radius: 8px;
  border: 2px solid #0a0a0a;
}

::-webkit-scrollbar-thumb:hover {
  background: #404040; /* neutral-700 */
}
